
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
}
body{
    background: no-repeat center center fixed url('../game.png');
}
.heading{
    color: #009245;
    font-size: 5rem;
}
.container{
    margin:20px;
}
#box{
    margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
}

.btn{
    font-size: 3rem;
    border: 2px solid black;
    border-radius:10px;
    margin:30px;
    /* padding:30px; */
    padding-top:110px;
    width:24%;
    cursor: pointer;
}
#btn1{
    background: no-repeat center center/cover url('../snake.png');
    background-color: yellow;
}
#btn2{
    background: no-repeat center center/cover url('../water.jpg');
    
}
#btn3{
    background: no-repeat center center/cover url('../gun.png');
    background-color: yellow;
}
.result{
    font-size: 2rem;
    color:#8cc63f;
}